<h1>SUBTASK</h1>


<div class="container mt-4">
  <div class="card" *ngFor="let subtask of subtasks" [ngClass]="{'success': subtask.uploaded}">
    <div class="card-header">
      <h5 class="card-title">Title: {{ subtask.title }}</h5>
    </div>
    <div class="card-body">
      <p class="card-text">Description: {{ subtask.description }}</p>
      <p *ngIf="subtask.fileName">Download File: <button class="btn btn-download" (click)="downloadFile(subtask.subTaskId, subtask.fileName)">Download File</button></p>
      <div *ngIf="!subtask.uploaded">
        <label for="fileUpload{{subtask.subTaskId}}">Upload File</label>
        <input type="file" class="form-control-file" (change)="onFileSelected($event, subtask)" id="fileUpload{{subtask.subTaskId}}">
        <div class="mt-2">
        <button type="button" class="btn btn-primary" (click)="uploadSubmission(subtask)" [disabled]="!subtask.fileToUpload">Upload</button>
      </div>
    </div>
  </div>
  </div>
  <!-- Display a message when there are no subtasks -->
  <div *ngIf="subtasks.length === 0" class="text-center mt-4">
    <p>No subtasks available</p>
  </div>
</div>
