.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #45b69c;
  padding-top: 20px;
}

/* Search bar styling */


/* Button styling */
.sidebar a {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #45b69c;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s;
}
.sidebar a:hover {
  background-color: #1f8b66;
}





