.container {
  width: 50%; /* Adjust the width as needed */
  margin: auto; /* Center the container */
  background-color: #45b69c; /* Add background color */
  padding: 20px; /* Add padding */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* Add shadow */
}

.text-danger {
  color: red; /* Set error message color to red */
}

.background-image {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 500px;
  height: 500px;
  background-image: url('src/assets/image/task - Copy.png');
  background-size: cover;
  z-index: -1;
}
