/* Sidebar styling */
.card p.greeting {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  font-size: 1.5em; /* Increase the font size */
  color: white; /* Set the color to white */
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #45b69c;
  padding-top: 20px;
}

/* Button styling */
.sidebar a {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #45b69c;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s;
  font-family: Georgia, serif;
}

.sidebar a:hover {
  background-color: #1f8b66;
}

/* Card styling */
.task-card {
  background-color: #6fc7b9; /* Lighter shade of the sidebar color */
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  width: calc(50% - 30px); /* Adjusted width to fit two cards in a row with margin */
  height: 200px; /* Set a fixed height for the cards */
  box-sizing: border-box;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  color: #333;
  font-family: Georgia, serif;
}

.card-container {
  margin-left: 280px; /* Adjusted margin to create space for the sidebar and gap between cards */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distribute space between cards */
}

.card-container .task-card {
  width: calc(50% - 30px); /* Adjusted width to fit two cards in a row with margin */
}

@media screen and (max-width: 768px) {
  .card-container .task-card {
    width: calc(50% - 20px); /* Adjusted width to fit two cards in a row with margin on smaller screens */
  }
}
