<div class="tab-container">


  <a href="/adminadduser" class="tab"><span>Add Employee</span></a>
  <a href="/getaduser" class="tab"><span>View Employee</span></a>

  <a href="/adgetbatch" class="tab"><span>View Batch</span></a>
  <a href="/addbatch" class="tab"><span>Add Batch</span></a>
  <!-- Your existing HTML content here -->

<div class="background-image"></div>
<div class="background-animation">
  <div class="ball"></div>
  <div class="ball"></div>
  <div class="ball"></div>
</div>

</div>
