.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #45b69c;
  padding-top: 20px;
}

/* Button styling */
.sidebar a {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #45b69c;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s;
  font-family: Georgia, serif;
  font-size: 18px;
}
.sidebar a:hover {
  background-color: #1f8b66;
}

.background-image {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 500px; /* Adjust the width of the image */
  height: 500px; /* Adjust the height of the image */
  background-image: url('src/assets/image/task - Copy.png'); /* Specify the path to your image */
  background-size: cover;
  z-index: -1; /* Ensure the image is behind other content */
}
