<div class="container">
  <button class="btn btn-secondary back-button" (click)="goBack()">Back</button> <!-- Back button -->
  <div class="search-container">
    <form (ngSubmit)="getUserData()">
      <label for="userId"></label>
      <input type="number" id="userId" name="userId" [(ngModel)]="userId" required class="search-input">
      <button type="submit" class="search-button">Get User</button>
    </form>
  </div>

  <div *ngIf="user" class="card">
    <h2>User Details</h2>
    <p><strong>Name:</strong> {{ user.name }}</p>
    <p><strong>User Name:</strong> {{ user.userName }}</p>
    <p><strong>Role:</strong> {{ user.role }}</p>
    <p><strong>Domain:</strong> {{ user.domain }}</p>
    <p><strong>Job Title:</strong> {{ user.jobTitle }}</p>
    <p><strong>Location:</strong> {{ user.location }}</p>
    <p><strong>Phone:</strong> {{ user.phone }}</p>
    <p><strong>Is CR:</strong> {{ user.isCr ? 'Yes' : 'No' }}</p>
    <p><strong>Gender:</strong> {{ user.gender }}</p>
    <p><strong>Date of Joining:</strong> {{ user.doj }}</p>
    <p><strong>Capgemini Email ID:</strong> {{ user.capgeminiEmailId }}</p>
    <p><strong>Grade:</strong> {{ user.grade }}</p>
    <p><strong>Total Average Rating Status:</strong> {{ user.totalAverageRatingStatus }}</p>
    <p><strong>Personal Email ID:</strong> {{ user.personalEmailId }}</p>
    <p><strong>Earlier Mentor Name:</strong> {{ user.earlierMentorName }}</p>
    <p><strong>Final Mentor Name:</strong> {{ user.finalMentorName }}</p>
    <p><strong>Attendance Count:</strong> {{ user.attendanceCount }}</p>
    <!-- Add other user details here -->
  </div>
  <div class="background-image"></div>
</div>
