/* Sidebar styling */
.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #45b69c;
  padding-top: 20px;
}

/* Search bar styling */
.search-container {
  margin-bottom: 20px;
  padding: 0 10px;
}
.search-container input[type=text] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Button styling */
.sidebar a {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #45b69c;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s;
}
.sidebar a:hover {
  background-color: #1f8b66;
}

/* Table container styling */
.table-container {
  margin-left: 280px;
  padding: 20px;
}

/* Table styling */
.table {
  width: calc(100% - 280px);
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

/* Table header styling */
.table th {
  padding: 8px;
  background-color: #45b69c;
  color: white;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

/* Table body row styling */
.table tbody tr {
  background-color: #f0fff4; /* Greenish light color for all rows */
  border-left: 1px solid #ddd;
}

/* Table body row styling - alternate rows */
.table tbody tr:nth-child(odd) {
  background-color: #c8e6c9;
}

/* Table cell styling */
.table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
